@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

* {
  box-sizing: border-box;
  list-style: none;
}

body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.button{
  margin-top: 10vh;
}

.titulo{
  padding-left: 85vh;
  margin-top: 12vh;
  text-decoration: none;
  color:black;
  font-weight: bold;
  font-size: 40px;
}

a.titulo:hover{
  color:black;
}

.menu a{
  background-color: transparent;
  padding: 25px 30px;
  font-family:'Saira Condensed', sans-serif;
}
  
.line{
  border-bottom: 1px solid rgb(241, 231, 231);
  padding-top: 75px;
}

.carousel-inner {
  max-height:74vh;
  padding-top: 12vh;
  padding-bottom: 12vh;
  padding-left: 12vh;
  padding-right: 12vh;
  position:relative;
}

.socialMedias{
  float:right;
}
  
.footer-logo{
  width:10vw;
  height:20vh;
}

.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-left: 3vh;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container > div {
  background-color: #ffffff;
  margin: 10px;
  padding-left: 6vh;
  padding-right: 6vh;
  padding-top: 6vh;
}

h4.card-title a{
  font-family: 'Lustria', serif;
  color: rgb(83, 79, 79);
  text-decoration: none;
}

p.card-text a{
  font-family: 'Lustria', serif;
  color: rgb(59, 56, 56);
  text-decoration: none;
  weight: 12vh;
}

.header a.logo:hover {
  color:black;
}

.title1 h5{
  display: inline-block;
  margin-right: 0vw;
  text-align: left;
  padding: 5vw 0vw 5vw 0vw;
  min-width:40vw;
  color: rgb(83, 79, 79);
  position: top;
}

.title2 h5{
  display: inline-block;
  margin-right: 0vw;
  text-align: center;
  padding: 5vw 0vw 5vw 0vw;
  min-width:40vw;
  position: top;
}

.title3 h5{
  display: inline-block;
  margin-right: 0vw;
  text-align: right;
  padding: 1vw 0vw 1vw 9vw;
  min-width:40vw;
  position: top;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
}
  
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  padding-left: 5%;
}
  
.menu a:hover {
  color: rgb(0, 0, 0);/*rgb(182, 159, 159)*/
  font-weight: bold;
}

.header a.active {
  background-color: transparent;
  color: rgb(129, 118, 118);
}
  
.header-right {
  float: right;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
    
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
    
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
    
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
    
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
    
.active, .dot:hover {
  background-color: #717171;
}
    
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
    
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
    
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
    
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}